{
	"converse": {
		"default": {
			"default": [
				"i love mcdonalds",
				"Mcdonal",
				"I'm here to order a plain big mac",
				"Man, I want McDonald's right now.",
				"which side of a corner pounder with cheese do you eat first ",
				"which end of a chocolate cornet is the head?",
				"They put slime on my burger",
				"this isn't extra mayonnaise at all",
				"Mcdnonald",
				"I love mcdonald give me the big chicken sandwich",
				"does this place have onion rings",
				"mdondald",
				"there is a rat in my burger mm ratburger",
				"Humgry",
				"Uh one all American beef burger please!",
				"i'm bleeding",
				"go clownis",
				"burge mmm",
				"I would like a Joe Naruto meal please (like if you agree)",
				"Can i have a french fries",
				"i eat from dump ster",
				"God I sure do hope this isnt WOKE mcdonalds",
				"hham brugeer",
				"B b bbb bb big mac",
				"hamfbbunenarmavwgwemvwger",
				"APPLE SLICES!!!",
				"I hope they dont replace the all American beef burger with organic yogurt again",
				"i am mcdonald",
				"burgor",
				"i want one big cheeseburger, perhaps a big \"mac\"",
				"Hamburger *does epic backflip*",
				"What a lovely establishment this is!",
				"I think I will get the \"hamburger!\"",
				"where is the toilet",
				"i ordered the macdonalds and cheese saladr where is IT!",
				"whopper",
				"chciken nuget",
				"mnmmnmnmmmmm mconal",
				"hamburger cheeseburger big mac whopper",
				"Wow! The mcrib is back!",
				"I love the mcrib!",
				"Man docald",
				"i'm gonna order the cheeseburger!"
			]
		},
		"floran": {
			"default": [
				"floran love mcdonaldsss",
				"Mcdonal",
				"floran is here to order a plain big mac",
				"Man, floran want McDonald'sss right now.",
				"which ssside of a corner pounder with cheessse do you eat firssst ",
				"which end of a chocolate cornet isss the head?",
				"They put ssslime on my burger",
				"thisss isssn't extra mayonnaissse at all",
				"Mcdnonald",
				"floran love mcdonald give floran the big chicken sssandwich",
				"doesss thisss place have onion ringsss",
				"mdondald",
				"there isss a rat in my burger mm ratburger",
				"Humgry",
				"Uh one all American beef burger pleassse!",
				"floran is bleeding",
				"go clownisss",
				"burge mmm",
				"floran would like a Joe Naruto meal pleassse (like if you agree)",
				"Can floran have a french friesss",
				"floran eat from dump ssster",
				"God floran sssure do hope thisss isssnt WOKE mcdonaldsss",
				"hham brugeer",
				"B b bbb bb big mac",
				"hamfbbunenarmavwgwemvwger",
				"APPLE sssLICEsss!!!",
				"floran hope they dont replace the all American beef burger with organic yogurt again",
				"floran is mcdonald",
				"burgor",
				"floran want one big cheessseburger, perhapsss a big \"mac\"",
				"Hamburger *doesss epic backflip*",
				"What a lovely essstablissshment thisss isss!",
				"floran think floran will get the \"hamburger!\"",
				"where isss the toilet",
				"floran ordered the macdonaldsss and cheessse sssaladr where isss IT!",
				"whopper",
				"chciken nuget",
				"mnmmnmnmmmmm mconal",
				"hamburger cheessseburger big mac whopper",
				"Wow! The mcrib isss back!",
				"floran love the mcrib!",
				"Man docald",
				"floran is gonna order the cheessseburger!"
			]
		},
		"glitch": {
			"default": [
				"Happy. i love mcdonalds",
				"Happy. Mcdonal",
				"Excited. I'm here to order a plain big mac",
				"Hungry. Man, I want McDonald's right now.",
				"Curious. which side of a corner pounder with cheese do you eat first ",
				"Confused. which end of a chocolate cornet is the head?",
				"Neutral. They put slime on my burger",
				"Disappointed. this isn't extra mayonnaise at all",
				"Happy. Mcdnonald",
				"Happy. I love mcdonald give me the big chicken sandwich",
				"Curious. does this place have onion rings",
				"Happy. mdondald",
				"Happy. there is a rat in my burger mm ratburger",
				"Hungry. Humgry",
				"Excited. Uh one all American beef burger please!",
				"Sad. i'm bleeding",
				"Excited. go clownis",
				"Happy. burge mmm",
				"Excited. I would like a Joe Naruto meal please (like if you agree)",
				"Curious. Can i have a french fries",
				"Happy. i eat from dump ster",
				"Pissed. God I sure do hope this isnt WOKE mcdonalds",
				"Happy. hham brugeer",
				"Happy. B b bbb bb big mac",
				"Happy. hamfbbunenarmavwgwemvwger",
				"Overjoyed. APPLE SLICES!!!",
				"Worried. I hope they dont replace the all American beef burger with organic yogurt again",
				"Happy. i am mcdonald",
				"Happy. burgor",
				"Happy. i want one big cheeseburger, perhaps a big \"mac\"",
				"Excited. Hamburger *does epic backflip*",
				"Impressed. What a lovely establishment this is!",
				"Excited. I think I will get the \"hamburger!\"",
				"Confused. where is the toilet",
				"Angry. i ordered the macdonalds and cheese saladr where is IT!",
				"Happy. whopper",
				"Happy. chciken nuget",
				"Happy. mnmmnmnmmmmm mconal",
				"Happy. hamburger cheeseburger big mac whopper",
				"Excited. Wow! The mcrib is back!",
				"Happy. I love the mcrib!",
				"Happy. Man docald",
				"Excited. i'm gonna order the cheeseburger!"
			]
		},
		"novakid": {
			"default": [
				"i love mcdonalds",
				"Mcdonal",
				"I'm here to order a plain bi' mac",
				"Man, I want McDonald's ri'ht now.",
				"which side of a corner pounder with cheese do you eat first ",
				"which end of a chocolate cornet is the head?",
				"They put slime on my bur'er",
				"this isn't extra mayonnaise at all",
				"Mcdnonald",
				"I love mcdonald 'ive me the bi' chicken sandwich",
				"does this place have onion rin's",
				"mdondald",
				"there is a rat in my bur'er mm ratbur'er",
				"Hum'ry",
				"Uh one all American beef bur'er please!",
				"i'm bleedin'",
				"'o clownis",
				"bur'e mmm",
				"I would like a Joe Naruto meal please (like if you a'ree)",
				"Can i have a french fries",
				"i eat from dump ster",
				"'od I sure do hope this isnt WOKE mcdonalds",
				"hham bru'eer",
				"B b bbb bb bi' mac",
				"hamfbbunenarmavw'wemvw'er",
				"APPLE SLICES!!!",
				"I hope they dont replace the all American beef bur'er with or'anic yo'urt a'ain",
				"i am mcdonald",
				"bur'or",
				"i want one bi' cheesebur'er, perhaps a bi' \"mac\"",
				"Hambur'er *does epic backflip*",
				"What a lovely establishment this is!",
				"I think I will 'et the \"hambur'er!\"",
				"where is the toilet",
				"i ordered the macdonalds and cheese saladr where is IT!",
				"whopper",
				"chciken nu'et",
				"mnmmnmnmmmmm mconal",
				"hambur'er cheesebur'er bi' mac whopper",
				"Wow! The mcrib is back!",
				"I love the mcrib!",
				"Man docald",
				"i'm 'onna order the cheesebur'er!"
			]
		},

		"akkimari": {
			"default": [
				"akki love mcdonalds",
				"Mcdonal",
				"akki is here to order a plain big mac",
				"Man, akki want McDonald's right now.",
				"which side of a corner pounder with cheese do you eat first ",
				"which end of a chocolate cornet is the head?",
				"They put slime on my burger",
				"this isn't extra mayonnaise at all",
				"Mcdnonald",
				"akki love mcdonald give akki the big chicken sandwich",
				"does this place have onion rings",
				"mdondald",
				"there is a rat in my burger mm ratburger",
				"Humgry",
				"Uh one all American beef burger please!",
				"akki is bleeding",
				"go clownis",
				"burge mmm",
				"akki would like a Joe Naruto meal please (like if you agree)",
				"Can akki have a french fries",
				"akki eat from dump ster",
				"God akki sure do hope this isnt WOKE mcdonalds",
				"hham brugeer",
				"B b bbb bb big mac",
				"hamfbbunenarmavwgwemvwger",
				"APPLE sLICEs!!!",
				"akki hope they dont replace the all American beef burger with organic yogurt again",
				"akki is mcdonald",
				"burgor",
				"akki want one big cheeseburger, perhaps a big \"mac\"",
				"Hamburger *does epic backflip*",
				"What a lovely establishment this is!",
				"akki think akki will get the \"hamburger!\"",
				"where is the toilet",
				"akki ordered the macdonalds and cheese saladr where is IT!",
				"whopper",
				"chciken nuget",
				"mnmmnmnmmmmm mconal",
				"hamburger cheeseburger big mac whopper",
				"Wow! The mcrib is back!",
				"akki love the mcrib!",
				"Man docald",
				"akki is gonna order the cheeseburger!"
			]
		}
	}
}
